<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {

        $('#loading').hide();
        $('#searchEng').submit(function(){
            $('#loading').show();
            return true;
            });
        });
    </script>
    <title>분류군정보 목록 검색</title>
</head>
<body>
<div id="loading" style="margin-left: 0px;">
    <img src="/static/images/loadingImage.gif">
    <p>API 정보를 불러오는 중 입니다.. 잠시 기다려주세요.</p>
</div>

<h3>분류군정보 목록 검색</h3>
<form action="/system/searchEng" id="searchEng"  method="POST">
    <div>
    <a>분류군명에 의한 검색</a></br>
    <!-- 2. 분류군명 -->
        <input type="hidden" name="st" value="2">
        <input type="text" name="sw" placeholder="검색어">
        <input type="hidden" name="numOfRows" value="10">
        <input type="hidden" name="pageNo" value="1">
        <input type="submit" value="검색">
    </div>
</form>

<!-- 되돌아가기 -->
    <div>
        <button onclick="history.back()">되돌아가기</button>
    </div>
</body>
</html>