<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>feature</title>
</head>
<body>
<h3>버섯특징</h3>
<form action="/feature/search" method="post">
<table border="1">
    <tr>
        <td>멍</td>
        <th>
            <select name="bruises">
                <option value=0>없음</option>
                <option value=1>있음</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>냄새</td>
        <th>
            <select name="odor">
                <option value=2>almond</option>
                <option value=3>creosote</option>
                <option value=4>foul</option>
                <option value=5>anise</option>
                <option value=6>musty</option>
                <option value=7>none</option>
                <option value=8>pungent</option>
                <option value=9>spicy</option>
                <option value=10>fishy</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>주름 크기</td>
        <th>
            <select name="gill_size">
                <option value=11>broad</option>
                <option value=12>narrow</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>주름 색깔</td>
        <th>
            <select name="gill_color">
                <option value=13>buff</option>
                <option value=14>red</option>
                <option value=15>gray</option>
                <option value=16>chocolate</option>
                <option value=17>black</option>
                <option value=18>brown</option>
                <option value=19>orange</option>
                <option value=20>pink</option>
                <option value=21>green</option>
                <option value=22>purple</option>
                <option value=23>white</option>
                <option value=24>yellow</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>몸통 고리 위 기둥 표면</td>
        <th>
            <select name="stalk_surface_above_ring">
                <option value=25>silky</option>
                <option value=26>smooth</option>
                <option value=27>scaly</option>
                <option value=28>fibrous</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>몸통 고리 아래 기둥 표면</td>
        <th>
            <select name="stalk_surface_below_ring">
                <option value=29>silky</option>
                <option value=30>smooth</option>
                <option value=31>scaly</option>
                <option value=32>fibrous</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>고리 타입</td>
        <th>
            <select name="ring_type">
                <option value=33>evanescent</option>
                <option value=34>flaring</option>
                <option value=35>large</option>
                <option value=36>none</option>
                <option value=37>pendant</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>포자 무늬 색깔</td>
        <th>
            <select name="spore_print_color">
                <option value=38>buff</option>
                <option value=39>chocolate</option>
                <option value=40>black</option>
                <option value=41>brown</option>
                <option value=42>orange</option>
                <option value=43>green</option>
                <option value=44>purple</option>
                <option value=45>white</option>
                <option value=46>yellow</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>개체군</td>
        <th>
            <select name="population">abundant=a,clustered=c,numerous=n,scattered=s,several=v,solitary=y
                <option value=47>abundant</option>
                <option value=48>clustered</option>
                <option value=49>numerous</option>
                <option value=50>scattered</option>
                <option value=51>several</option>
                <option value=52>solitary</option>
            </select>
        </th>
    </tr>
    <tr><th colspan="2"><input type="submit" value="검색"></th></tr>
</table>
</form>
</body>
</html>