<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- tooltip 이미지 나타내기 --!>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.js"></script>


    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

    <script>
        $(document).ready(function() {

        $('#loading').hide();
        $('#search').submit(function(){
            $('#loading').show();
            return true;
            });

        });


        $(document).ready(function(){
            $('span[data-toggle=tooltip]').tooltip();
        });
    </script>

    <title>눈에 띄는 특징</title>
</head>
<body>
<div id="loading" style="margin-left: 0px;">
    <img src="/static/images/loadingImage.gif">
    <p>분석 중 입니다.. 잠시 기다려주세요.</p>
</div>

<h3>버섯특징</h3>
<form action="/columns/search" id="search" method="post">
<table id="help" border="1">
    <tr>
        <td>갓 모양<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/cap_shapes.jfif'>"><i class="far fa-question-circle"></i></span></td>
        <th>
            <select name="cap_shape">
                <option value="0">bell</option>
                <option value="1">conical</option>
                <option value="2">flat</option>
                <option value="3">knobbed</option>
                <option value="4">sunken</option>
                <option value="5">convex</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>갓 표면<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/cap_surface.jpg'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="cap_surface">
                <option value="6">fibrous</option>
                <option value="7">grooves</option>
                <option value="8">smooth</option>
                <option value="9">scaly</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>갓 색깔<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/color.png'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="cap_color">
                <option value="10">buff</option>
                <option value="11">cinnamon</option>
                <option value="12">red</option>
                <option value="13">gray</option>
                <option value="14">brown</option>
                <option value="15">pink</option>
                <option value="16">green</option>
                <option value="17">purple</option>
                <option value="18">white</option>
                <option value="19">yellow</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>멍<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/bruises.png'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="bruises">
                <option value=20>없음</option>
                <option value=21>있음</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>냄새<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/냄새'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="odor">
                <option value=22>almond 아몬드향</option>
                <option value=23>creosote 훈연향</option>
                <option value=24>foul 악취</option>
                <option value=25>anise 팔각향</option>
                <option value=26>musty 곰팡내</option>
                <option value=27>none 없음</option>
                <option value=28>pungent 톡 쏘는 냄새</option>
                <option value=29>spicy 매운내</option>
                <option value=30>fishy 비린내 </option>
            </select>
        </th>
    </tr>
    <tr>
        <td>주름 색깔<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/color.png'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="gill_color">
                <option value=31>buff</option>
                <option value=32>red</option>
                <option value=33>gray</option>
                <option value=34>chocolate</option>
                <option value=35>black</option>
                <option value=36>brown</option>
                <option value=37>orange</option>
                <option value=38>pink</option>
                <option value=39>green</option>
                <option value=40>purple</option>
                <option value=41>white</option>
                <option value=42>yellow</option>
            </select>
        </th>
    </tr>
    <tr>
        <td>개체군<span data-html="true" data-toggle="tooltip" data-placement="right" title="<img src='../static/images/개체군'>"><i class="far fa-question-circle"></i></td>
        <th>
            <select name="population">
                <option value=43>abundant</option>
                <option value=44>clustered</option>
                <option value=45>numerous</option>
                <option value=46>scattered</option>
                <option value=47>several</option>
                <option value=48>solitary</option>
            </select>
        </th>
    </tr>
    <tr><th colspan="2"><input type="submit" value="검색"></th></tr>
</table>
</form>
<h3>선택한 특징</h3>
<table border="1">
    <tr>
        <td>분석결과</td>
        <th>
            {{res}}
        </th>
    </tr>
    <tr>
        <td>갓 모양</td>
        <th>
            {{cap_shape}}
        </th>
    </tr>
    <tr>
        <td>갓 표면</td>
        <th>
            {{cap_surface}}
        </th>
    </tr>
    <tr>
        <td>갓 색깔</td>
        <th>
            {{cap_color}}
        </th>
    </tr>
    <tr>
        <td>멍</td>
        <th>
            {{bruises}}
        </th>
    </tr>
    <tr>
        <td>냄새</td>
        <th>
            {{odor}}
        </th>
    </tr>
    <tr>
        <td>주름 색깔</td>
        <th>
            {{gill_color}}
        </th>
    </tr>
    <tr>
        <td>개체군</td>
        <th>
            {{population}}
        </th>
    </tr>
</table>
</body>
</html>