<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분류군정보 목록 검색</title>
</head>
<body>
<h3>폼 입력 창</h3>
<h3>분류군정보 목록 검색</h3>
<form action="/system/searchRequest" method="POST">

    <div>
    <a>검색어구분(1. 분류군국명, 2. 분류군명) :</a>
    <!-- 1. 분류군국명, 2. 분류군명 -->
        <select name="st">
            <option value ="1" selected>1</option>
            <option value ="2">2</option>
        </select></br>
        <input type="text" name="sw" placeholder="검색어">
        <input type="hidden" name="numOfRows" value="10">
        <input type="hidden" name="pageNo" value="1">
        <input type="submit" value="검색">
    </div>
</form>

<!-- 되돌아가기 -->
    <div>
        <button onclick="history.back()">되돌아가기</button>
    </div>
</body>
</html>