<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>독버섯 정보</title>
</head>
<body>
<h3>잘못 알고 있는 식용버섯과 독버섯 구별법</h3>
<table>
    <tr>
        <th>식용버섯</th>
        <th>독버섯</th>
    </tr>
    <tr>
        <td>-색깔이 화려하지 않고, 원색이 아닌 것</td>
        <td>-색깔이 화려하거나, 원색인 것</td>
    </tr>
    <tr>
        <td>-세로로 잘 찢어지는 것</td>
        <td>-세로로 잘 찢어지지 않는 것</td>
    </tr>
    <tr>
        <td>-대에 띠가 있는 것</td>
        <td>-대에 띠가 없는 것</td>
    </tr>
    <tr>
        <td>-곤충이나 벌레가 먹은 것</td>
        <td>-벌레가 먹지 않은 것</td>
    </tr>
    <tr>
        <td>-은수저에 변색이 되지 않는 것</td>
        <td>-은수저에 변색이 되는 것</td>
    </tr>

    </tr>
</table>
<br>
<h3>중독사고</h3>
<h4>국내 독버섯 분포 현황</h4>
우리나라에는 2,048종(국가표준버섯목록)의 버섯이 자생하는 것으로 보고되어 있으며, <br>
그 중 식용 가능한 버섯은 약 413여종(약 20.1%)에 불과하다. <br>
확인된 독버섯은 234종(약11.4%) <br>
식용가치가 없거나, 인체에 해로운 독버섯이 68%가 넘는다. <br>
<h4>중독사고 발행현황</h4>
중독사고는 매년 꾸준히 발생하고 있으며, 특히 장마가 시작되는 7월부터 가을철 산행 인구가 많은 10월 사이에 독버섯 중독사고 빈발하고 있음. <br>
※ 최근 5년간 ('13~17') 47명의 독버섯 중독사고 환자 발생, 2명 사망 <br>
광대버섯류(긴골광대버섯, 독우산광대버섯, 마귀광대버섯, 턱받이광대버섯)와 삿갓외대버섯, 진갈색주름버섯 등을 섭취한 사고가 집계됨 <br>

<a href="/resource/resourceForm1">한글 이름으로 검색</a>

</body>
</html>