<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>국가표준버섯 학명목록 검색</title>
</head>
<body>
<table border="1">
    <tr>
        <th>정이명구분</th>
        <th>학명</th>
        <th>국명</th>
        <th>학명ID</th>
    </tr>
    {% for data in List %}
    <tr>
        <form name="detail" action="/btnc/infoRequest" method="POST">
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[1]}}</td>
        <td style="text-align: center;"><input type="submit" value="{{data[3]}}" style="border: 0px;"></td>
        <input type="hidden" name="q1" value="{{data[3]}}">
        </form>
    </tr>
    {% endfor %}
</table>

<!-- 되돌아가기 -->
<div>
      <button onclick="history.back()">되돌아가기</button>
</div>
</body>
</html>