<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test01 Result Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}"/>
</head>
<body>
    <h1>Test01 Result</h1>
    <table>
        <tr>
            <th>과국명</th>
            <th>과명</th>
            <th>국명</th>
            <th>도감번호</th>
            <th>속국명</th>
            <th>속명</th>
        </tr>
        {% for data in list %}
        <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td>{{data[5]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>