<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분류군정보 목록 검색</title>
</head>
<body>
<h3>폼 입력 창</h3>
<h3>분류군정보 목록 검색</h3>
<form action="/system/systemsearchRequest" method="POST">

    <div>
    <a>분류군국명에 의한 검색</a></br>
    <!-- 1. 분류군국명 -->
        <input type="hidden" name="st" value="1">
        <input type="text" name="sw" placeholder="검색어">
        <input type="hidden" name="numOfRows" value="10">
        <input type="hidden" name="pageNo" value="1">
        <input type="submit" value="검색">
    </div></br>

    <div>
    <a>분류군명에 의한 검색</a></br>
    <!-- 2. 분류군명 -->
        <input type="hidden" name="st" value="2">
        <input type="text" name="sw" placeholder="검색어">
        <input type="hidden" name="numOfRows" value="10">
        <input type="hidden" name="pageNo" value="1">
        <input type="submit" value="검색">
    </div>

</form>

<!-- 되돌아가기 -->
    <div>
        <button onclick="history.back()">되돌아가기</button>
    </div>
</body>
</html>