<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>버섯 사진 판별</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}"/>
</head>
<body>
<h5>판별하려는 버섯의 이미지를 업로드해주세요.</h5>
<form name="imageSearch" method="POST" action="/mushroom/imageSearch" enctype="multipart/form-data">
    <label for="uploadfile">업로드 파일</label>
    <input type="file" id="uploadfile" name="uploadfile"/>
    <br/>
    <input type="submit" value="판별하기"/>
</form>
</body>
</html>