<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loading.css')}}"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function() {

        $('#loading').hide();
        $('#testSurviveOrDeath').click(function(){
            $('#loading').show();
            return true;
            });
        $('#mushroomDish').click(function(){
            $('#loading').show();
            return true;
            });
        });
    </script>
    <title>메인페이지</title>
</head>

<body>
<div id="loading" style="margin-left: 0px;">
    <img src="/static/images/loadingImage.gif">
    <p>정보를 불러오는 중 입니다.. 잠시 기다려주세요.</p>
</div>

<a id="testSurviveOrDeath" href="/resource/testSurviveOrDeath">독버섯을 구분할 수 있는지 테스트해보세요!</a>

<a href="/resource/resourceForm">버섯 자원 검색 페이지</a>
<a href="/resource/resourceForm1">버섯 자원 검색 페이지(css)</a>
<a href="/resource/resourceEngForm">버섯 자원 영문검색 페이지</a>
<a href="/feature/featureForm">버섯 특징 검색 페이지</a>
<a href="/img/imgForm">버섯 자원 이미지 검색 페이지</a>
<a href="/system/systemForm">버섯 분류군 검색 페이지</a>
<a href="/mushroom/imgClassifier">버섯 이미지 감별</a>
<a id="mushroomDish" href="/resource/mushroomDish">버섯요리 리스트</a>

</body>
</html>