<!--
기존의 mushrooms.csv 에 색깔과 관련된 정보가 포함되어 있지만
이를 제외하고 새로 색깔정보를 Front에서 입력받아
RNN을 활용한 머신러닝을 유도하는 방법을 시도해 볼 수 있지 않을까 합니다.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>특징 기반 판별</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}"/>
</head>
<body>
    <h5>검색하려는 버섯의 특징을 입력해주세요.</h5>
    <form name="textSearch" action="/mushroom/textSearch" method="GET">
        <label for="capcolor">머리 색깔</label>
        <input type="text" id="capcolor" name="capcolor" />
        <br/>
        <label for="capshape">머리 모양</label>
        <select id="capshape" name="capshape">
            <option value="b">종 모양</option>
            <option value="c">원뿔 모양</option>
            <option value="x">볼록한 모양</option>
            <option value="f">평평한 모양</option>
            <option value="k">혹 모양</option>
            <option value="s">움푹한 모양</option>
        </select>
        <br/>
        <label for="capsurface">머리 표면</label>
        <select id="capsurface" name="capsurface">
            <option value="f">섬유질인</option>
            <option value="g">우둘투둘한</option>
            <option value="y">비닐덮인</option>
            <option value="s">매끈한</option>
        </select>
        <br/>
        <input type="submit" value="감별하기" />
    </form>
</body>
</html>