<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>독버섯 감별</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}"/>
</head>
<body>
    <pre>
        버섯이 독버섯인지 아닌지 검색합니다.
        특징으로 판별의 경우 버섯의 사진 없이 버섯머리의 모양 자루의 모양 등의 특징을 선택해 버섯을 감별합니다.
        이미지로 판별의 경우 사용자가 보유중인 이미지를 활용해 버섯을 감별합니다.
    </pre>
    <p><a href="/mushroom/test03search_text">특징으로 판별</a></p>
    <p><a href="/mushroom/test03search_image">이미지로 판별</a></p>
</body>
</html>