<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mushroomDish</title>
</head>
<body>
<h3>버섯요리 레시피</h3>

<table border="1">
    {% for data in List %}
    <tr>
        <td rowspan="2"><img src="{{data[0]}}" width="300" height="200"></td>
        <td>제목</td>
        <td>{{data[1]}}</td>
    </tr>
    <tr>
        <td>내용</td>
        <td>{{data[2]}}</td>
    </tr>
    {% endfor %}
</table>

<!-- 되돌아가기 -->
<div>
      <button onclick="history.back()">되돌아가기</button>
</div>
</body>
</html>